{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Login</h1>
    </div>
</div>
<!-- Header End -->
<div class="row d-flex align-items-center justify-content-center">
    <div class="col-lg-4">
        <div class="card mb-4">
            {% for message in messages %}

            <div class="alert alert-danger">
                {{ message }}
            </div>

            {% endfor %}
            <form class="m-3" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-center">
                    <button class="btn btn-primary">Login</button>
                </div>

            </form>
        </div>
    </div>

</div>

{% endblock content %}

</form>