{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Profile</h1>
    </div>
</div>
<!-- Header End -->
<!-- end of modal  -->
{% if profile.experience %}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{profile.user.profile_pic.url}}" alt="avatar" class="rounded-circle img-fluid"
                            style="width: 150px;">
                        <h5 class="my-3">{{profile.user.full_name}}</h5>
                        <p class="text-muted mb-1">{{profile.user.bio}}</p>
                        <p class="text-muted mb-4">{{profile.user.email}}</p>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                {% if request.user.role == 'employer' %}
                <div style="position: relative; bottom: 20px; left: 550px;">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Application Status
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" name='accept' value='accepted' href="#">Accept</a></li>
                            <li><a class="dropdown-item" name="reject" value='rejected' href="#">Reject</a></li>
                        </ul>
                    </div>
                </div>
                {%endif%}
                <div class="card mb-4">

                    <div class="card-body">
                        <div class="mt-3">
                            <h4>Experience</h4>
                            <p>{{profile.experience | safe}}</p>
                        </div>
                        <div class="mt-3">
                            <h4>Skills</h4>
                            <p>{{profile.skill | safe}}</p>
                        </div>
                        <div class="mt-3">
                            <h4>Resume</h4>
                            <a href="{% url 'accounts:view-resume' profile.id%}" target="_blank"
                                class="btn btn-primary">View Resume</a>
                            <a href="{{profile.resume.url}}" download class="btn btn-warning">Download
                                Resume</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{%else%}
<p class="ms-3 text-center text-danger">Please Complete Your Profile.</p>
{%endif%}

{% endblock content %}