{% extends "base.html" %}

{% load static%}

{% block content %}

<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
    </div>
</div>
<!-- Header End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="{%static 'img/about-1.jpg'%}">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="{%static 'img/about-2.jpg'%}" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="{%static 'img/about-3.jpg'%}" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="{%static 'img/about-4.jpg'%}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                <p class="mb-4"> Our platform is a dynamic space designed to bridge the gap between talent
                    and employers, facilitating seamless matches that propel careers forward. We pride
                    ourselves on providing a user-friendly experience, empowering job seekers with intuitive
                    tools and comprehensive resources. Whether you're a seasoned professional or embarking on
                    your career journey, careerforge is your dedicated partner, committed to unlocking doors
                    to a world of possibilities. Join us in shaping the future of your career.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Comprehensive Job Listings</p>
                <p><i class="fa fa-check text-primary me-3"></i>User-Friendly Interface</p>
                <p><i class="fa fa-check text-primary me-3"></i>Customized Job Alerts</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock content %}