{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- Job Detail Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {%endfor%}
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    <img class="flex-shrink-0 img-fluid border rounded" src="{{job.company_logo.url}}" alt=""
                        style="width: 80px; height: 80px;">
                    <div class="text-start ps-4">
                        <h3 class="mb-3">{{job.title}}
                        </h3>
                        <span class="text-truncate me-3"><i
                                class="fa fa-map-marker-alt text-primary me-2"></i>{{job.location}}</span>
                        <span class="text-truncate me-3"><i
                                class="far fa-clock text-primary me-2"></i>{{job.type}}</span>
                        <span class="text-truncate me-0"><i
                                class="far fa-money-bill-alt text-primary me-2"></i>${{job.min_salary}} -
                            ${{job.max_salary}}</span>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="mb-3">Job description</h4>
                    <p>{{job.descriptions}}</p>
                    <h4 class="mb-3">Requirements</h4>
                    {{job.requirements | safe}}
                </div>
                {% if request.user.role == 'job-seeker'%}
                <div class="">
                    <h4 class="mb-4">Apply For The Job</h4>
                    {% if not applied %}
                    <a class="btn btn-danger" href="{%url 'jobs:apply_job' job.id%}">Apply</a>
                    {%else%}
                    <button class="btn btn-info" disabled>Already Applied</button>
                    {%endif%}
                </div>
                {%else%}
                <div class="">
                    <h4 class="mb-4">Actions</h4>
                    <a class="btn btn-info" href="{%url 'jobs:update-job' job.id%}">Update</a>
                    <a href="{% url 'jobs:delete-job' job.id %}" class="btn btn-danger">Delete</a>
                </div>
                {%endif%}
            </div>

            <div class="col-lg-4">
                {% if request.user.is_authenticated and request.user.role == 'employer'%}
                <div class="p-5 mb-4">
                    <a class="btn btn-info" href="{%url 'jobs:applicant-list' job.id%}">View Applicant</a>
                </div>
                {%endif%}
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Job Summery</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: {{job.updated | date}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: {{job.vacancy}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: {{job.type}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Applied By: {{job.application_count}}</p>
                    <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Deadline: {{job.deadline}}</p>
                    <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Status:

                        <button
                            class="btn {% if job.status == 'active' %}btn-primary{%else%} btn-danger{%endif%} btn-sm">{{job.status}}</button>
                    </p>
                </div>

                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Company Detail</h4>
                    <p class="m-0">
                        <a href="{{job.company_website}}" target="_blank">{{job.company_website}}</a>
                    </p>
                    <p class="m-0">
                        <a href="mailto:{{job.company_website}}">{{job.contact_email}}</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job Detail End -->
{% endblock content %}