{% extends "base.html" %}

{% block content %}
{% for message in messages %}

<div class="alert alert-primary">
    {{ message }}
</div>
{%endfor%}
<div class="container">
    <div>
        <div>
            <h1>{{job.title}}</h1>
            <span>{{job.company_name}} {{job.type}} {{job.application_count}} applicants Posted :
                {{job.updated | timesince}}</span>
        </div>
    </div>

    <div>
        <h2>Requirements</h2>
        <p>{{job.requirements}}</p>
    </div>
    <div>
        <h2>Job Descriptions</h2>
        <p>{{job.descriptions}}</p>
    </div>
    <div>
        <h3>Contact Informations</h3>
        <p><a href="{{job.contact_email}}">{{job.contact_email}}</a></p>
    </div>
    <div>
        {% if not applied %}
        <a class="btn btn-outline-danger" href="{% url 'jobs:apply_job' job.id%}">Apply</a>
        {%else%}
        <button class="btn btn-info" disabled>Applied</button>
        {%endif%}
    </div>
</div>

{% endblock content %}