{% extends "base.html" %}

{% block content %}
{% for message in messages %}

<div class="alert alert-primary">
    {{ message }}
</div>
{%endfor%}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2 class="mb-4">{{job.title}} &nbsp; <button type="button" {% if job.status == 'active' %}
                    class="btn btn-primary btn-sm" {%else%} class="btn btn-danger btn-sm"
                    {%endif%}>{{job.status}}</button>
            </h2>
            <p class="lead">{{job.company_name | capfirst}}</p>
            <p><strong>Applied:</strong> {{job.application_count}}</p>
            <p><strong>Type:</strong> {{job.type}}</p>
            <p><strong>Posted on:</strong> {{job.updated}}</p>
            <p><strong>Apply before:</strong> {{job.last_date_to_apply}}</p>

            <h4 class="mt-4">Job Description</h4>
            <p>{{job.descriptions}}</p>

            <h4 class="mt-4">Requirements</h4>
            <p>{{job.requirements | safe}}</p>

            <h4 class="mt-4">How to Apply</h4>
            <p>Please send your resume and cover letter to <a href="{{job.contact_email}}">{{job.contact_email}}</a>
                with
                the
                subject line "Software Developer Application - Your Name".</p>
            <p>Or You can apply from here</p>
            <div>
                {% if not applied %}
                <a class="btn btn-outline-danger" href="{% url 'jobs:apply_job' job.id%}">Apply</a>
                {%else%}
                <button class="btn btn-info" disabled>Applied</button>
                {%endif%}
            </div>
        </div>
    </div>
</div>







<!-- <div class="container">
    <div>
        <div>
            <h1>{{job.title}}</h1>
            <span>{{job.company_name}} {{job.type}} {{job.application_count}} applicants Posted :
                {{job.updated | timesince}}</span>
        </div>
    </div>

    <div>
        <h2>Requirements</h2>
        <p>{{job.requirements}}</p>
    </div>
    <div>
        <h2>Job Descriptions</h2>
        <p>{{job.descriptions}}</p>
    </div>
    <div>
        <h3>Contact Informations</h3>
        <p><a href="{{job.contact_email}}">{{job.contact_email}}</a></p>
    </div>
    <div>
        {% if not applied %}
        <a class="btn btn-outline-danger" href="{% url 'jobs:apply_job' job.id%}">Apply</a>
        {%else%}
        <button class="btn btn-info" disabled>Applied</button>
        {%endif%}
    </div>
</div> -->

{% endblock content %}