<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Job Applied</title>
    </head>

    <body>
        {% autoescape off %}
        <h3>CareerForge</h3>
        <h4>
            Your application has been submitted.
        </h4>
        <p>If you think, it's not you, then just ignore this email.</p>
        <p>For any Queries or any feedback,</p>
        <p>Email: careerforge@gmail.com</p>

        {% endautoescape %}
    </body>

</html>